@model PlayerInfoDto

<h2>@Model.Name</h2>
<description>@Model.TaskDescription</description>
What do you want to do?
@using (Html.BeginForm("Choose", "Home"))
{
    <div>
        <fieldset>
            <legend>What do you want to do?</legend>
            
            @foreach (var choice in Model.Choices)
            {
                <div class="editor-field">
                    @Html.RadioButton("choice", choice.Code)
                    @choice.Text
                </div>
            }
            <p>
                <input type="submit" value="Go on" />
            </p>
        </fieldset>
    </div>
}